
<header class="topnavbar-wrapper bg_non">
 <div class="container-fluid">
 <div class="row">
 <div class="col-md-4 col-xs-4">
 <!-- START Top Navbar-->
 <nav class="navbar topnavbar bg_non">
 <!-- START navbar header-->
 <div class="navbar-header">
<ul class="navbar-nav mr-auto flex-row left-side bg_non">


<li class="nav-item">

@*<img src="/img/logo2.png" style="position:relative;top:7px;margin-left:61px !important;">*@
</li>
</ul>
</div>
</nav>
</div>
<div class="admin_new">
<ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
<li class="nav-item dropdown">
<h4 class="tittle_cr hidden-xs dms">DEALER MANAGEMENT SYSTEMS</h4>
</li>
</ul>
</div>
</div>
</div>
</header>


