@{
                /**/

                ViewBag.Title = "CreateScheme";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section-container input_height">
    <div class="content-wrapper">
        <div class="content-heading">SCHEME CREATION</div>

        <div class="card card_ps">
            <div class="panel panel-default panel_pt">
                <div class="header_ps">
                    <span>CREATE SHEME ON TYPE</span>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="pwd">
                                Code :
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" placeholder="A002" id="pwd" />
                        </div>
                        <div class="col-lg-2">
                            <label for="pwd">
                                Name :
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" placeholder="Dealer" id="pwd" />
                        </div>
                        <div class="col-lg-2">
                            <label for="pwd">
                                Description :
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" placeholder="To Be Sold" id="pwd" />
                        </div>
                    </div>
                    <div class="row row_pt">

                        <div class="col-lg-2">
                            <label for="pwd">
                                IsActive :
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" />
                        </div>

                    </div>

                    <br />

                    <hr />

                    <div class="row botton_tppp">
                        <div class="col-lg-9">
                            <button type="button" class="btn btn_font">Submit</button>
                            <button type="button" class="btn btn_font">Clear</button>
                        </div>
                    </div>



                </div>


            </div>
        </div>
    </div>
</section>