@{
    ViewBag.Title = "ApprovedTravelDetail";
}



 <div class="card card-default">
 <div class="panel panel-default panel_pt">
 <div class="card-header card_bg">
 <div class="card-title card_tittle2">APPROVED TRAVEL DETAILS</div>
 </div>
     
      
            <div class="card-body">
            <div class="row row_pt">
                    <div class="col-lg-2">
                    <label for="pwd">
                        Ref No. :</label>
                </div>
                <div class="col-lg-2">
                   <input type="text" class="form-control from_bg from_bg2" readonly="readonly" value="231" id="pwd">
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                        Name :</label>
                </div>
                <div class="col-lg-2">
                   <input type="text" class="form-control from_bg from_bg2" readonly="readonly" value="Anshuman" id="pwd">
                </div>
               <div class="col-lg-2">
                    <label for="pwd">
                        Hd. Qtr :</label>
                </div>
                <div class="col-lg-2">
                   <input type="text" class="form-control from_bg from_bg2" readonly="readonly" value="Delhi" id="pwd">
                </div>
                </div>

                 <div class="row row_pt">
                 <div class="col-lg-2">
                    <label for="pwd">
                        Category :</label>
                </div>
                <div class="col-lg-2">
                   <input type="text" class="form-control from_bg from_bg2" readonly="readonly" value="A" id="pwd">
                </div>
                    <div class="col-lg-2">
                    <label for="pwd">
                        From Date :</label>
                </div>
                <div class="col-lg-2">
                   <input type="text" class="form-control from_bg from_bg2" readonly="readonly" value="22-10-2018" id="pwd">
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                        To Date :</label>
                </div>
                <div class="col-lg-2">
                  <input type="text" class="form-control from_bg from_bg2" readonly="readonly" value="03-11-2018" id="pwd">
                </div>
                </div>
                </div>
              

           



              <div class="row">
               <div class="col-xl-12">
                  <form method="post" action="#" data-parsley-validate="" novalidate="">
                     <!-- START card-->
                   
                        <div class="card-header card_bg">
                           <div class="card-title card_tittle2">APPROVED TRAVEL HISTORY</div>
                        </div>
                        <div class="card-body">

                          <form class="form-horizontal">
                           
                     <table class="table table-responsive table-bordered" style="display: inline-table;">
                    <thead>
                        <tr>
                            <th style="text-align: center">
                                S.No
                            </th>
                            <th style="text-align: center">
                                Date
                            </th>
                            <th style="text-align: center">
                               Fare
                            </th>
                            <th style="text-align: center">
                                Hotel
                            </th>
                            <th style="text-align: center">
                                Fixed DA
                            </th>
                            <th style="text-align: center">
                               Local Conveyance
                            </th>
                             <th style="text-align: center">
                              Tiffin
                            </th>
                            <th style="text-align: center">
                              Others
                            </th>
                            <th style="text-align: center">
                              Remarks
                            </th>
                            <th style="text-align: center">
                              Delete
                            </th>
                            <th style="text-align: center">
                              Place Visited
                            </th>
                            <th style="text-align: center">
                              Class
                            </th>
                            <th style="text-align: center">
                              Lodging
                            </th>
                            <th style="text-align: center">
                              Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           <td align="center">
                               1
                            </td>
                           <td align="center">
                                 04-10-2018
                            </td>
                           <td align="center">
                                  0.00
                            </td>
                           <td align="center">
                              0.00
                            </td>
                           <td align="center">
                                0.00
                            </td>
                           <td align="center">
                               150.00
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                150.00
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                Delhi
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                 <a class="btn btn-sm btn-secondary  pt-top " href="/Travel/TravelExpenseStatement">
                                        <i class="fa fa-pencil aria-hidden="true" style="color:grey !important;"></i>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                           <td align="center">
                               2
                            </td>
                           <td align="center">
                                 04-10-2018
                            </td>
                           <td align="center">
                                  0.00
                            </td>
                           <td align="center">
                              0.00
                            </td>
                           <td align="center">
                                0.00
                            </td>
                           <td align="center">
                               150.00
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                150.00
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                Delhi
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                 <a class="btn btn-sm btn-secondary  pt-top " href="/Travel/TravelExpenseStatement">
                                        <i class="fa fa-pencil aria-hidden="true" style="color:grey !important;"></i>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                           <td align="center">
                               3
                            </td>
                           <td align="center">
                                 04-10-2018
                            </td>
                           <td align="center">
                                  0.00
                            </td>
                           <td align="center">
                              0.00
                            </td>
                           <td align="center">
                                0.00
                            </td>
                           <td align="center">
                               150.00
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                150.00
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                Delhi
                            </td>
                            <td align="center">
                                0.00
                            </td>
                            <td align="center">
                                 <a class="btn btn-sm btn-secondary  pt-top " href="/Travel/TravelExpenseStatement">
                                        <i class="fa fa-pencil aria-hidden="true" style="color:grey !important;"></i>
                                    </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
				
				
				
				
				<table class="table table-responsive table-bordered" style="margin-top:13px;">
                    <thead class="thead-lights">
                        <tr>
                        <th style="text-align: center">
                                
                            </th> 
                            <th style="text-align: center">
                               Fare
                            </th>
                            <th style="text-align: center">
                                Lodging
                            </th>
                            <th style="text-align: center">
                              FDA 
                            </th>
                            <th style="text-align: center">
                                Conveyance 
                            </th>
                            <th style="text-align: center">
                                Tiffin
                            </th>
                            <th style="text-align: center">
                                Other Exp.
                            </th>
                            <th style="text-align: center">
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td align="center" width="65">
                                Total :
                            </td>
                            <td align="center">
                                    <input type="text" class="form-control" value="7517.00" id="pwd" />
                            </td>
                           <td align="center">
                                <input type="text" class="form-control" value="0.00" id="pwd" />
                            </td>
                            <td align="center">
                                <input type="text" class="form-control" value="2750.00" id="pwd" />
                            </td>
                              <td align="center">
                                <input type="text" class="form-control" value="4859.00" id="pwd" />
                            </td>
                            <td align="center">
                                <input type="text" class="form-control" value="0.00" id="pwd" />
                            </td>
                            <td align="center">
                              <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                            <td align="center">
                                <input type="text" class="form-control" value="15126.00" id="pwd" />
                            </td>
                        </tr>
                        <tr>
                        <td align="center"  width="65">
                                Norms :
                            </td>
                            <td align="center">
                                  <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                           <td align="center">
                               <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                            <td align="center">
                               <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                              <td align="center">
                               <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                            <td align="center">
                               <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                            <td align="center">
                               <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                            <td align="center">
                               <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                        </tr>
                        <tr>
                        <td align="center"  width="65">
                                Allow :
                            </td>
                            <td align="center">
                                   <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                           <td align="center">
                               <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                            <td align="center">
                               <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                              <td align="center">
                              <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                            <td align="center">
                               <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                            <td align="center">
                               <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                            <td align="center">
                               <input type="text" class="form-control" value="7517.00" id="pwd">
                            </td>
                        </tr>
                    </tbody>
                </table>
                           
                           
                        </form>
                           

                        </div>
                        <div class="card-footer">
                           <div class="clearfix">
                              <div class="float-right">
                                  <button class="btn btn-primary" type="submit">Apply Norms</button>
								 <button class="btn btn-primary" type="submit">Submit</button>
								  <button class="btn btn-primary" type="submit">Save</button>
								   <button class="btn btn-primary" type="submit">Clear</button>
                              </div>
                            
                           </div>
                        </div>
                
                     <!-- END card-->
                  </form>
               </div>
               
            </div>

</div>
</div>
