

<div class="card card-default">
<div class="panel panel-default panel_pt">
<div class="card-header card_bg">
<div class="card-title card_tittle2">MAIN TRAVEL NORMS</div>
</div> 
     
            <div class="card-body">
			  <form class="form-horizontal">
                <div class="row">
                    <div class="col-lg-2">
                    <label for="pwd">
                        Grade:</label>
                </div>
                <div class="col-lg-2">
                     <select class="form-control from_bg from_bg2" id="sel1">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                        A Class Lodging :</label>
                </div>
               <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" id="pwd">
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                         A Class FDA :</label>
                </div>
               <div class="col-lg-2">
                    <select class="form-control from_bg from_bg2" id="sel1">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                    </select>
                </div>
                </div>
                <div class="row row_pt">
                   <div class="col-lg-2">
                    <label for="pwd">
                       B Class Lodging :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" id="pwd">
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                       A Class FDA :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg2" id="pwd">
                </div>
                 <div class="col-lg-2">
                    <label for="pwd">
                        C Class Lodging :</label>
                </div>
               <div class="col-lg-2">
                    <select class="form-control from_bg from_bg2" id="sel1">
                        <option>short / excess</option>
                        <option>Damaged</option>
                        <option>Fault</option>
                    </select>
                </div>
                    
                </div>
                 <div class="row row_pt">
                 <div class="col-lg-2">
                    <label for="pwd">
                       C Class FDA:</label>
                </div>
                 <div class="col-lg-2">
                    <select class="form-control from_bg from_bg2" id="sel1">
                        <option>web : web</option>
                        <option>App</option>
                        <option>Offline</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                        Travel Mode:</label>
                </div>
                <div class="col-lg-2">
                    <select class="form-control from_bg from_bg2" id="sel1">
                        <option>Flight</option>
                        <option>Train</option>
                        <option>Bus</option>
                        <option>Car</option>
                    </select>
                </div>
                      <div class="col-lg-2">
                    <label for="pwd">
                        Travel Mode 2:</label>
                </div>
                  <div class="col-lg-2">
                  <select class="form-control from_bg from_bg2" id="sel1">
                        <option>Flight</option>
                        <option>Train</option>
                        <option>Bus</option>
                        <option>Car</option>
                    </select>
                </div>
                </div>
                  <div class="row row_pt">
                <div class="col-lg-2">
                    <label for="pwd">
                        Travel Mode 3 :</label>
                </div>
                <div class="col-lg-2">
                   <select class="form-control from_bg from_bg2" id="sel1">
                       <option>Flight</option>
                        <option>Train</option>
                        <option>Bus</option>
                        <option>Car</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                        Travel Mode 4:</label>
                </div>
                <div class="col-lg-2">
                   <select class="form-control from_bg from_bg2" id="sel1">
                        <option>Flight</option>
                        <option>Train</option>
                        <option>Bus</option>
                        <option>Car</option>
                    </select>
                </div>
                        <div class="col-lg-2">
                    <label for="pwd">
                        Local Conveyance :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" id="pwd"/>
                </div>
                </div>
                 <div class="row row_pt">
                <div class="col-lg-2">
                    <label for="pwd">
                        Other Expenses :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" id="pwd"/>
                </div>
                
                <div class="col-lg-2">
                    <label for="pwd">
                        Old Grade :</label>
                </div>
                <div class="col-lg-2">
                    <select class="form-control from_bg from_bg2" id="sel1">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                    </select>
                </div>
                 <div class="col-lg-2">
                    <label for="pwd">
                        BP :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" id="pwd" />
                </div>
                </div>
                
                 <div class="row row_pt">
                 <div class="col-lg-2">
                    <label for="pwd">
                        Description:</label>
                </div>
                <div class="col-lg-2">
                    <textarea class="from_bg2" rows="2" id="comment"></textarea>
                </div>
                <div class="col-lg-2">
                        <label for="pwd">
                            IsActive :</label>
                    </div>
                    <div class="col-lg-2">
                          <input type="checkbox" />
                    </div>
               
                       </div>
           
					   

</form>
</div>

  <div class="card-footer">
                           <div class="clearfix">
                              <div class="float-left">
                                  <button class="btn btn-primary" type="submit">Approve</button>
								 <button class="btn btn-primary" type="submit">Submit</button>
								  <button class="btn btn-primary" type="submit">Clear</button>
                              </div>
                            
                           </div>
                        </div>

 </div>



<div class="panel panel-default panel_pt">
<div class="card-header card_bg">
<div class="card-title card_tittle2"> TRAVEL NORMS LIST</div>
</div> 
      
            <div class="card-body">
			  <form class="form-horizontal">
           
                    <table id="example2" class="table table-striped table-bordered" style="width: 100%">
                      <thead class="thead-lights">
                            <tr>
                                <th style="text-align: center">
                                    Code
                                </th>
                                <th style="text-align: center">
                                    Name
                                </th>
                                <th style="text-align: center">
                                    Created By
                                </th>
                                <th style="text-align: center">
                                    Created On
                                </th>
                                <th style="text-align: center">
                                    Status
                                </th>
                                <th style="text-align: center">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">
                                    N001
                                </td>
                                <td align="center">
                                   Norms 1
                                </td>
                                <td align="center">
                                    04-Oct-2018
                                </td>
                                <td align="center">
                                    10-Dec-2020
                                </td>
                                <td align="center">
                                    Active
                                </td>
                                <td align="center">
                                    <a class="btn btn-sm btn-secondary  pt-top " href="/Travel/MainTravelNorms">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    @*<a class="btn btn-sm btn pt-top" type="button">
                                       <i class="fa fa-trash" aria-hidden="true" style="color:red !important;"></i>
                                    </a>*@
                                </td>
                            </tr>

                            <tr>
                                <td align="center">
                                    N002
                                </td>
                                <td align="center">
                                   Norms 2
                                </td>
                                <td align="center">
                                    04-Jun-2019
                                </td>
                                <td align="center">
                                    10-Dec-2020
                                </td>
                                <td align="center">
                                    Active
                                </td>
                                <td align="center">
                                    <a class="btn btn-sm btn-secondary  pt-top " href="/Travel/MainTravelNorms">
                                       <i class="fa fa-eye"></i>
                                    </a>
                                    @*<a class="btn btn-sm btn pt-top" type="button">
                                       <i class="fa fa-trash" aria-hidden="true" style="color:red !important;"></i>
                                    </a>*@
                                </td>
                            </tr>

                            <tr>
                                <td align="center">
                                    N003
                                </td>
                                <td align="center">
                                   Norms 3
                                </td>
                                <td align="center">
                                    04-Oct-2019
                                </td>
                                <td align="center">
                                    10-Dec-2020
                                </td>
                                <td align="center">
                                    Active
                                </td>
                                <td align="center">
                                    <a class="btn btn-sm btn-secondary  pt-top " href="/DSR/CreateDSR">
                                       <i class="fa fa-eye"></i>
                                    </a>
                                   
                                </td>
                            </tr>
                             
                        </tbody>
                    </table>
               </form>
            </div>
     
    </div>
	</div>


<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#example2').DataTable({
            responsive: true
        });

        new $.fn.dataTable.FixedHeader(table);
    });
    </script>


