<table class="table table-bordered">
    <thead title="NPD Sale Report">
        <tr>
            <th>Status</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody id="tbodyNPDSale"></tbody>
</table>

