<table class="table table-bordered">
    <thead title="Sale Summary Report">
        <tr>
            <th>Summary</th>
            <th>Value (Lacs)</th>
        </tr>
    </thead>
    <tbody id="tbodySummary">
         
    </tbody>
</table>
