<table class="table table-bordered">
    <thead title="Category Sale Report">
        <tr>
            <th>Category</th>
            <th>Budget</th>
            <th>Sale</th>
        </tr>
    </thead>
    <tbody id="tbodyCategorySale"></tbody>
</table>


