<table class="table table-bordered">
    <thead title="Sub Segment Sale">
        <tr>
            <th>SUBSEGMENT</th>
            <th>SALE</th>
        </tr>
    </thead>
    <tbody id="tbodySaleSubSegment"></tbody>
</table>


