<table class="table table-bordered">
    <thead title="Segment Sale">
        <tr>
            <th>SEGMENT</th>
            <th>BUDGET</th>
            <th>SALE</th>
        </tr>
    </thead>
    <tbody id="tbodySaleSegment">
    </tbody>
</table>

