<table class="table table-bordered">
    <thead title="Dealer Sale Report">
        <tr>
            <th>STATUS</th>
            <th>SALE</th>
            <th>CONT %</th>
        </tr>
    </thead>
    <tbody id="tbodySaleDealer"></tbody>
</table>


