<div class="row row_pt">
    <div class="col-xl-4 col-md-4">
        <div height="150px;" style="height: 150px;" class="card bg-purple-light pt-2 b0">
            <div class="px-2">
                <em class="icon-cloud-upload fa-lg float-right"></em>
                <div class="h2 mt-0">61</div>
                <a href="#" OnClick="return callSecondDashboard('#')">
                    <div class="text-uppercase">DSR VISIT DETAIL</div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">
    <div height="150px;" style="height: 150px;" class="card bg-purple-light pt-2 b0">
        <div class="px-2">
        <em class="icon-cloud-upload fa-lg float-right"></em>
        <div class="h2 mt-0">0</div>
        <a href="#" OnClick="return callSecondDashboard('#')"> 
            <div class="text-uppercase">PAYMENT COLLECTION</div>
            </a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">
    <div height="150px;" style="height: 150px;" class="card bg-info-light pt-2 b0">
        <div class="px-2">
        <em class="icon-cloud-upload fa-lg float-right"></em>
        <div class="h2 mt-0">0</div>
        <a href="#" OnClick="return callSecondDashboard('/Home/SaleDashboard')"> 
            <div class="text-uppercase">SALE ORDER</div>
            </a>
            </div>
        </div>
    </div>
</div>
<div class="row row_pt">
    <div class="col-xl-4 col-md-4">
        <div height="150px;" style="height: 150px;" class="card bg-purple-light pt-2 b0">
            <div class="px-2">
                <em class="icon-cloud-upload fa-lg float-right"></em>
                <div class="h2 mt-0">0</div>
                <a href="#" OnClick="return callSecondDashboard('#')">
                    <div class="text-uppercase">SALE RETRUN</div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">
        <div height="150px;" style="height: 150px;" class="card bg-info-light pt-2 b0">
            <div class="px-2">
                <em class="icon-cloud-upload fa-lg float-right"></em>
                <div class="h2 mt-0">0</div>
                <a href="#" OnClick="return callSecondDashboard('#')">
                    <div class="text-uppercase">TRAVEL BILL CLIAM</div>
                </a>
            </div>
        </div>
    </div>
</div>
