<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Forget Password</title>
    <style type="text/css">
        .style2
        {
            width: 380px;
        }
    </style>
</head>
<body style="background-color: #f3f3f3">
    <div style="margin: 0; padding: 0; width: 100% !important; background-color: #f3f3f3">
        <div style="padding:30px;background:#f3f3f3">
            <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#f3f3f3" style="font:13px helvetica,arial,sans-serif;color:#666666;line-height:20px">
                <tbody>
                    <tr>
                        <td align="center" style="background-color:#d6111b;text-align:center;color:#ffffff;font-size:30px;height:40px;vertical-align:middle">
                            LUMAX<br />

                        </td>
                    </tr>

                    <tr>
                        <td align="left" style="background-color:#fff;border:1px solid #eee;padding:20px;font:13px helvetica,arial,sans-serif;color:#666666;line-height:20px">
                            ~body`
                            <p>

                                Thanks & regards,<br />
                                The
                                <strong style="color: #d6111b">LUMAX</strong>  Team

                            </p>

                        </td>
                    </tr>

                    <tr>
                        <td align="center" style="background-color:#d6111b;text-align:center;color:#ffffff;line-height:40px;height:40px;vertical-align:middle">
                            <!--<a href="#" title="About Mahindra?" target="_blank" style="text-decoration: none; color: White;">About Us</a> |
                            <a href="#" title="Why We ?" target="_blank" style="text-decoration: none; color: White;">Why Mahindra</a> |

                            <a href="#" target="_blank" title="Feel free to contact us !" style="text-decoration: none; color: White;">Contact Us</a>-->
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <p align="center" style=" padding-left: 20px; padding-right: 20px; font-size: 10px;">
                                <br />
                                This email was sent to you as you are the registered user of lumax  <br />
                                © ~CurrentYear` lumax industries | All Rights Reserved
                            </p>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>
</body>
</html>
