@{
    ViewBag.Title = "CreateCustomer";
    
}


 <div class="card card-default">
<div class="panel panel-default panel_pt">
<div class="card-header card_bg">
    <div class="card-title card_tittle2">CREATE CUSTOMER</div>
</div> 

<div class="card-body">
<form class="form-horizontal">
<div class="row">
<div class="col-lg-2">
                    <label for="pwd">
                        Retailer Name :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="G MANOJ" id="pwd"/>
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                        System Code :</label>
                </div>
               <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="GMTW001"  id="pwd"/>
                </div>

                <div class="col-lg-2">
                    <label for="pwd">
                        Proprietor Name :</label>
                </div>

                  <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="GANESHRAJ"  id="pwd"/>
                </div>
                 </div>
                 <div class="row row_pt">
                <div class="col-lg-2">
                    <label for="pwd">
                        Category :</label>
                </div>
               <div class="col-lg-2">
                    <select class="form-control from_bg from_bg2" id="sel1">
                        <option>A</option>
                        <option>B</option>
                    </select>
                </div>
               
                <div class="col-lg-2">
                    <label for="pwd">
                        Address 1 :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="VAYALLUR ROAD"  id="pwd"/>
                </div>
                 <div class="col-lg-2">
                    <label for="pwd">
                        Monthly Approx Total:</label>
                </div>
               <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="50000"  id="pwd"/>
                </div>
                 </div>
                 <div class="row row_pt">
                    <div class="col-lg-2">
                    <label for="pwd">
                        Address 2 :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" id="pwd"/>
                </div>
                 <div class="col-lg-2">
                    <label for="pwd">
                        Monthly Approx Minda:</label>
                </div>
               <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="5000"  id="pwd"/>
                </div>
               
                 <div class="col-lg-2">
                    <label for="pwd">
                       Address 3:</label>
                </div>
                 <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="GURGAON"  id="pwd"/>
                </div>
                 </div>
                 <div class="row row_pt">
                <div class="col-lg-2">
                    <label for="pwd">
                        Appointed :</label>
                </div>
                <div class="col-lg-2">
                    <select class="form-control from_bg from_bg2" id="sel1">
                        <option>Y</option>
                        <option>N</option>
                       
                    </select>
                </div>
                      <div class="col-lg-2">
                    <label for="pwd">
                        City :</label>
                </div>
                  <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="TRICHY" id="pwd"/>
                </div>
                  <div class="col-lg-2">
                    <label for="pwd">
                        Appointed Date :</label>
                </div>
                  <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="04-10-2018" id="pwd"/>
                </div>
                </div>
                  <div class="row row_pt">
                <div class="col-lg-2">
                    <label for="pwd">
                        STD Code :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" id="pwd"/>
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                        Remarks:</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="2W CUSTOMER" id="pwd"/>
                </div>
                        <div class="col-lg-2">
                    <label for="pwd">
                        Territory :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="TN3" id="pwd"/>
                </div>
                 </div>
                 <div class="row row_pt">
                 <div class="col-lg-2">
                    <label for="pwd">
                        Fitment Entry :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="N" id="pwd"/>
                </div>
               
                <div class="col-lg-2">
                    <label for="pwd">
                        State :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="TAMILNADU" id="pwd"/>
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                        Show In SM POP:</label>
                </div>
                <div class="col-lg-2">
                   <select class="form-control from_bg from_bg2" id="sel1">
                        <option>--select--</option>
                        <option></option>
                    </select>
                </div>
                 </div>
                 <div class="row row_pt">
                <div class="col-lg-2">
                    <label for="pwd">
                       Channel:</label>
                </div>
                <div class="col-lg-2">
                   <input type="text" class="form-control from_bg from_bg2" placeholder="SOUTH ZONE :" id="pwd" />
                </div>
                 <div class="col-lg-2">
                    <label for="pwd">
                        Country:</label>
                </div>
                <div class="col-lg-2">
                    <select class="form-control from_bg from_bg2" id="sel1">
                        <option>--select--</option>
                        <option>INDIA</option>
                    </select>
                </div>
               
                 <div class="col-lg-2">
                    <label for="pwd">
                        Auto Electricals :</label>
                </div>
                <div class="col-lg-2">
                    <select class="form-control from_bg from_bg2" id="sel1">
                        <option>n : NO</option>
                        <option></option>
                    </select>
                </div>
                 </div>
                 <div class="row row_pt">
                <div class="col-lg-2">
                    <label for="pwd">
                       Pin :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" id="pwd" />
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                        Auto Electric Category:</label>
                </div>
                <div class="col-lg-2">
                   <select class="form-control from_bg from_bg2" id="sel1">
                        <option>--select--</option>
                        <option></option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                        Phone :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" id="pwd" />
                </div>
                       </div>
                       <div class="row row_pt">
                 <div class="col-lg-2">
                    <label for="pwd">
                        Mobile :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="9632258712"  id="pwd" />
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                       Product Class :</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control from_bg from_bg2" placeholder="2WH" id="pwd" />
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                        Buy From Dealer :</label>
                </div>
                <div class="col-lg-2">
                   <input type="text" class="form-control from_bg from_bg2" placeholder="ASIAN TYRES" id="pwd" />
                </div>
                  </div>
                        <div class="row row_pt">
                <div class="col-lg-2">
                    <label for="pwd">
                        Segment :</label>
                </div>
                <div class="col-lg-2">
                    <select class="form-control from_bg from_bg2" id="sel1">
                        <option>--select--</option>
                        <option></option>
                    </select>
                </div>
                     
                         <div class="col-lg-2">
                    <label for="pwd">
                        Customer Type :</label>
                </div>
                <div class="col-lg-2">
                   <select class="form-control from_bg from_bg2" id="sel1">
                        <option>DEALER</option>
                        <option>RETAILER</option>
                        <option>MECHANIC</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <label for="pwd">
                        Forawarder List Mapping :</label>
                </div>
                <div class="col-lg-2">
                   <select class="form-control from_bg from_bg2" id="sel1">
                        <option>--select--</option>
                        <option></option>
                    </select>
                </div>
                  </div>
                        <div class="row row_pt">
                <div class="col-lg-2">
                        <label for="pwd">
                            IsActive :</label>
                    </div>
                    <div class="col-lg-2">
                          <input type="checkbox" />
                    </div>

                        </div>
   
</form>     
</div>

  <div class="card-footer">
                           <div class="clearfix">
                              <div class="float-left">
                                  <button class="btn btn-primary" type="submit">Search</button>
								 <button class="btn btn-primary" type="submit">Clear</button>
                              </div>
                            
                           </div>
                        </div>


</div>
</div>