@{
    ViewBag.Title = "CustomerList";
    
}




<div class="card card-default">
<div class="panel panel-default panel_pt">
<div class="card-header card_bg">
<div class="card-title card_tittle2">CUSTOMER LIST </div>
</div>
       
            <div class="card-body">
			  <form class="form-horizontal">
               
                    <table id="example2" class="table table-striped table-bordered" style="width: 100%">
                       <thead class="thead-lights">
                            <tr>
                                <th style="text-align: center">
                                    Retailer Name
                                </th>
                                <th style="text-align: center">
                                    System Code
                                </th>
                                <th style="text-align: center">
                                    Category
                                </th>
                                <th style="text-align: center">
                                    Customer Type
                                </th>
                                 <th style="text-align: center">
                                    Mobile
                                </th>
                                <th style="text-align: center">
                                    Segment
                                </th>
                                <th style="text-align: center">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">
                                    Anshuman
                                </td>
                                <td align="center">
                                    S001
                                </td>
                                <td align="center">
                                    8
                                </td>
                                <td align="center">
                                    Dealer
                                </td>
                                <td align="center">
                                    7007134264
                                </td>
                                <td align="center">
                                    NA
                                </td>
                                <td align="center">
                                 <a href="#" onclick="return DeleteZone(4)" title="delete zone"><i class="fa fa-trash bg_red"></i></a>
                                   
                                </td>
                            </tr>
                             
                        </tbody>
                    </table>
              </form>
            </div>
      
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#example2').DataTable({
            responsive: true
        });

        new $.fn.dataTable.FixedHeader(table);
    });
</script>